log/*.log
log/*.pid
db/*.db
db/*.sqlite3
db/*.sql
db/schema.rb
tmp/**/*
tmp/restart.txt
test/fixtures/*.yml

.DS_Store
doc/api
config/*.sphinx.conf
public/javascripts/all.js
public/stylesheets/all.js
public/avatars
*~
.#*
.*.swp
