

#columns
  #main
    .caption
      %h1 
        Operation title
        %span
          %a{:href => '#'} link
    .body
      d
      d
      d
      d
      d
      d
  #main_bot

#content
  .caption
    %h1 
      Caption
      %span
        %a{:href => '#'} link
  .body
    content at here
#content_bot