@charset "utf-8";
/* 	CSS Rest File - Used to Reset Default Browser Styling 	*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
/***********************
 *  use for clear element float
 ***********************/
/* slightly enhanced, universal clearfix hack */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* -------------------------------------------------------------------
THEME FILE
-------------------------------------------------------------------- */

#header	{
  background-color: #000000;
}
#nav a { 
  color: #FFFFFF; background-color: #222;
}
/* Navigation Hover Styles */	
#head_wrap #nav a:hover { background-color: #1B63AB; }
#sub_nav_wrap	{ background-color: #FFFFFF; }
#primary_content a, #footer a { color: #3C8DDF; }
#sidebar h3 { background-color: #D9E9F9; border: 1px solid #B6D5F3; }
#sidebar a { color: #3C8DDF;font-size: 14px;font-weight: bold;}
#sidebar a:hover { color: #1B5C9E; }



/* ---------------------------------------------------------------------------------
UNIVERSAL (used to set generic classes)
--------------------------------------------------------------------------------- */

.left	{ float:left;}
.right { float:right;}
.clear { clear: both;} 
.highlight	{ color: #FFFFFF;font-weight: bold;text-decoration: none; }

.check-all-box {
  float: right;
  margin: 0px;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0px 73px 0px 0px;
  color: #666666;
}

#tooltip	{ font-size: 9px;font-weight: bold;}
#modal p 	{ font-size: 11px; }


/* ---------------------------------------------------------------------------------
TYPOGRAPHY STYLES (generic typography)
--------------------------------------------------------------------------------- */

body { 
  font-family: Arial, Helvetica, sans-serif; 
  background-color: #E5E5E5; 
  color: #666666; 
  line-height: 24px; 
}
a	{ color:#3C8DDF; }

h1,h2,h3,h4,h5,h6	{ 
  color: #333333; padding: 10px 0px 10px 0px; 
  font-weight: bold;
}

ol { list-style-type: lower-roman;}
dt { font-weight: bold;text-decoration: underline;font-size: 14px;margin-top: 5px;margin-bottom: 5px;} 
dd { font-size: 12px;color: #666666;padding: 5px 0px 10px 10px;margin: 0px 0px 0px 10px; }

blockquote {
  margin:22px 40px;
  color:#575757;
  padding: 0px 50px;
  background: transparent url("/images/admin/blockquote.gif") no-repeat 0 0;
}

/* ---------------------------------------------------------------------------------
Flash NOTIFICATIONS
--------------------------------------------------------------------------------- */
.flash_notice, .flash_error, .flash_info, .flash_warning, .flash_explanation {
/*  margin-top: 15px; margin-bottom: 15px;*/
  background-repeat: no-repeat; 
  background-position: 10px center;
  padding: 10px 10px 10px 40px;
  height: 20px;line-height: 20px;
  font-weight: bold; font-size: 11px;
/*  text-transform: uppercase; */
}
/* Succes Notification Box */
.flash_notice {
  background-color: #E3FFDF;
  border: 1px solid #97FF88;
  color: #009900;
  background-image:url(/images/admin/accept.png);
}
/* Failure Notification Box */
.flash_error {
  background-color: #FFE1E1;
  border: 1px solid #FF9595;
  color: #CC3300;
  background-image:url(/images/admin/cancel.png);
}
/* Information Notification Box */
.flash_info {
  background-color: #D7DFFF;
  border: 1px solid #93A8FF;
  color: #0033FF;
  background-image:url(/images/admin/information.png);
}
/* Warning Notification Box */
.flash_warning { 
  background-color: #FFFBCC; 
  border: 1px solid #FFF35E;
  color: #C69E00; 
  background-image:url(/images/admin/error.png);
}
.fieldWithErrors {
  color:#f00;
}

/* ---------------------------------------------------------------------------------
GENERAL LAYOUT (header wrap, header and logo)
--------------------------------------------------------------------------------- */

#head_wrap	{ width: 940px;height: 100%;margin: 15px auto 0px auto;padding: 0px 0px 0px 20px;}

/* Active Navigation Hover Styles */
#head_wrap #nav .active, 
#head_wrap #nav .active:hover 
{ background-color: #FFFFFF;color: #222222;}

#header		{ overflow: hidden; background-image: url(/images/admin/header_highlighter.png); background-repeat: repeat-x;}

#logo { margin:5px 0px 15px 0px;}
#logo a{
  color:#FFF;font-size:22px;
  text-decoration:none;
}

/* ---------------------------------------------------------------------------------
NAVIGATION (navigation tabs and submenu)
--------------------------------------------------------------------------------- */

#nav	{
  position: relative;
  height: 31px;
}
#nav li 	{ 
  display: inline;
  padding: 0px;margin: 0px; 
}
#nav li.alone {
  float:right;
}
#nav li.alone a {
  background-color: #1B63AB;
}
#nav a 	{
  float: left;display: block;
  font-size: 12px; font-weight: bold; text-decoration: none;
  height: 25px;
  line-height: 25px;
  padding: 3px 10px 3px 10px;
  margin: 0px 5px 0px 0px;
  background-image: url(/images/admin/button_highlighter.png);
  background-repeat: repeat-x;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-left-radius:2px;
  -webkit-border-top-right-radius:2px;
  -khtml-border-radius-topleft: 2px;
  -khtml-border-radius-topright: 2px;
}

#sub_nav_wrap	{ 
  padding: 8px; 
  clear: both; 
  border-bottom: 2px solid #ccc; 
  margin: 0px; 
}
#sub_nav { 
  width: 940px; 
  margin: 0px auto 0px auto; 
  padding: 0px 0px 0px 20px; 
}
#sub_nav li { display: inline;}
#sub_nav a { 
  border-right: 1px solid #CCC; 
  padding: 0px 10px 0px 10px; 
  color: #999999; 
  font-size: 12px; 
  text-decoration: none;
}
#sub_nav a.last { border: none; }
#sub_nav a:hover { text-decoration: underline; }
#sub_nav .active { font-weight: bold; color: #222;}


#login			{ margin-top: 5px; margin-bottom: 20px; }
#login p 		{ color: #CCCCCC; font-size: 11px; margin: 0px; padding: 0px; }

/* ---------------------------------------------------------------------------------
CONTENT (where the content is wrapped)
--------------------------------------------------------------------------------- */
#content_wrapper {
/*  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;*/
  margin: 20px auto;
  padding: 10px 10px;	
  position: relative;
  overflow: hidden;
  clear: both;
  width: 920px; height: 100%;
  margin-bottom:0px;
}
#board {
  width:80%;
  float:left;
}
#acts {
  width:18%;
  float:right;
}
#acts h1 {
  background-color:#EDF3FE;
  border-bottom:1px solid #DCDCDC;
  color:#333333;
  font-size:13px;
  padding:5px 8px;
}
#acts ul {
  margin-left:15px;
}
#acts li {
  padding:5px 0px;
  list-style:square;
}
/**/

#panel{
  background:#FFFFFF url(/images/admin/right-bg.gif) repeat-y scroll right center;
}
#panel_bot {
  background:transparent url(/images/admin/bottom-bg.gif) no-repeat scroll right top;
  height:7px;
}
#panel .caption {
  background:#EDF3FE none repeat scroll 0 0;
  margin:0 0 5px;
  padding:10px 30px 10px 23px;
  width:675px;
}
#panel .caption h1 {
  font-size:16px;
  color:#000;
  margin:0px;
  padding:0px;
}
#panel .caption h1 span {
  float:right;
}
#panel .caption h1 span a {
  font-size:14px;
  font-weight:normal;
  text-decoration:none;
}
#panel .caption h1 span a:hover {
  text-decoration:underline;
}
#panel .body {
  padding:10px 60px 10px 23px;
}

/**/

#content, #columns #main, #list #main {
  background:#FFFFFF url(/images/admin/right-bg.gif) repeat-y scroll right center;
}
#content_bot, #columns #main_bot, #list #main_bot {
  background:transparent url(/images/admin/bottom-bg.gif) no-repeat scroll right top;
  height:7px;
/*  margin-bottom:15px;*/
}
#content .caption, #columns #main .caption, #list #main .caption {
  background:#EDF3FE none repeat scroll 0 0;
  margin:0 0 5px;
  padding:10px 30px 10px 23px;
}
#content .caption h1, #columns #main .caption h1 {
  font-size:16px;
  color:#000;
  margin:0px;
  padding:0px;
}
#content .caption h1 span, #columns #main .caption h1 span {
  float:right;
}
#content .caption h1 span a, #columns #main .caption h1 span a {
  font-size:14px;
  font-weight:normal;
  text-decoration:none;
}
#content .caption h1 span a:hover, #columns #main .caption h1 span a:hover {
  text-decoration:underline;
}
#content .body, #columns #main .body, #list #main .body {
  padding:10px 60px 10px 23px;
}

#columns #main, #columns #main_bot {
  width:720px;
}
#columns #main .caption {
  width:659px;
}
#content .caption {
  width:859px;
}

/* ---------------------------------------------------------------------------------
FOOTER
--------------------------------------------------------------------------------- */
#footer {
  width: 920px;
  font-size: 70%;
  margin: 0px auto;
}



/* ---------------------------------------------------------------------------------
FORMS
--------------------------------------------------------------------------------- */
.small			{ width: 15%;}
.medium 			{ width: 35%;}
.large			{ width: 80%;}
.full			{ width: 98%;}

form .input, form .textarea, form .multiple_select,form .multiple_input {
  margin:15px 0px;
}
form .multiple_select select {
  margin-right:15px;
}
form .multiple_input span {
  color:#000;
  margin-right:5px;
}
form .multiple_input input {
  margin-right:15px;
}
form .multiple_input .auto_text {
  width:150px;
}
form .multiple_file_selector_container {
  
}
form .multiple_file_selector_container img.paperclip {
  float:left;
  height:59px;
  width:19px;
}
form .multiple_file_selector_container .indented {
  width:515px;
  float:right;
  margin-left:30px;
  padding-top:8px;
}

form .submit {
  border-top:1px dashed #CCCCCC;
  margin-top:15px;
  padding-top:10px;
}
form h2 {
  color:#000000;
  font-family:"Lucida Grande",verdana;
  font-size:14px;
  font-weight:normal;
  margin:0 0 5px;
  padding:0;
}
form h2 span {
  color:#666666;
  font-size:12px;
  font-weight:normal;
}
form input.text, form textarea {
  font-size:18px;
/*  font-weight:bold;*/
  width:80%;
}

/*
form label { 
  display: block; 
  font-weight: bold; font-size: 13px; 
  margin:12px 0px 0px 0px;
}
form p { padding: 0px; margin: 0px;}
form input { 
  margin: 0px 10px 0px 0px;
  border: 1px solid #CCCCCC;padding: 5px;
  background-color: #F3F3F3; 
}
form select { padding: 0px;margin: 0px;}

form .button  {
  background-color: #D6D6D6;
  color: #666666;
  font-weight: bold;
  border: 1px solid #CCCCCC;
  margin-top: 7px;
  margin-bottom: 7px;
  padding: 5px 7px 5px 7px;
}

form .checkbox        { padding: 0px;height: 15px;width: 18px;margin: 0 5px 0 5px;}
form .select          { width: 20%;padding: 2px;margin: 0px;}
form .radio         { height: 15px; width: 15px; padding: 0px; margin: 0 5px 0 5px;}

.styled_textarea      { margin-bottom: 10px; background-color: #F3F3F3; width: 95%; padding: 0px; border: 1px solid #CCCCCC;}*/

/** horizontal list with image **/
ul.img_card_list {
}
ul.img_card_list li {
/*  float:left;*/
  width:195px;
  padding:3px;
  margin:13px 3px 3px 3px;
}
.img_card_list .wine p {
  margin:0px;
  padding:0px;
}
.img_card_list .wine .avatar{
  float:left;
}
.img_card_list .wine .meta{
  float:left;
  margin-left:10px;
}

/* ---------------------------------------------------------------------------------
TABLES
--------------------------------------------------------------------------------- */
#myTable img	{ margin-right: 3px;margin-left: 3px;padding: 0px;}

table { border: 1px solid #CCCCCC; font-size: 8pt; width: 100%; text-align: left;margin: 8px 0 5px 0;}
table thead tr th, table tfoot tr th {
  background-color: #D9E9F9;
  border: 1px solid #B6D5F3;
  font-size: 9pt;
  padding: 7px;
  text-align: left;
}
table thead tr th {
/*  background-image: url(/images/admin/bg.gif);*/
  background-repeat: no-repeat;
  background-position: center right;
/*  cursor: pointer;*/
/*  padding-left: 10px;*/
}
table tbody td {
  color: #666666;
  background-color: #FFF;
  vertical-align: top;
  border-bottom: 1px solid #CCC;
  padding: 7px;
  line-height: 20px;
  border-right: 1px solid #CCC;
}
table tbody tr.odd td 			{ background-color:#E9E9E9; }
table thead tr .headerSortUp 		{ background-image: url(/images/admin/asc.gif); }
table thead tr .headerSortDown 	{ background-image: url(/images/admin/desc.gif); }

.paginator 				{ list-style : none; display : block; padding: 8px 0 0 0; text-align: right; clear: both; margin: 0px;} 
.paginator li 				{ display : inline;} 
.paginator li a 			{ padding: 4px 7px 4px 7px;font-size: 11px;text-decoration: none; } 
.paginator li a:hover 		{ background-color: #d6d6d6; text-decoration: underline; } 
.paginator li.current a 	{ background-color: #d6d6d6; text-decoration: underline;}
/*
-------------------------
-- Pagination
-------------------------
*/

.pagination {
  padding: 3px !important;margin: 3px !important;
  text-align:right;
  font-size:11px;
}
.pagination .prev_page, .pagination .next_page {
/*  border:none;*/
}
.pagination a {
  padding: 4px 5px;
  margin: 2px;color: #63c8d6;
  text-decoration: none;
}
.pagination a:hover, .pagination a:active {
  background-color: #d6d6d6;
  color: #FFF;
}
.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;font-weight: bold;
  background-color: #d6d6d6; 
  text-decoration: underline;
}
.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;color: #999; 
}


#login_wrapper { 
  background-color: #FFFFFF; 
  width: 400px; margin: 200px auto 0px auto; 
  padding: 15px 20px 15px 20px; 
  border: 5px solid #CCC;
}

#login_wrapper h1 {
  font-size:20px; 
  padding: 3px 0 3px 0px; 
  margin: 0px;
}