/* Copyright BBG */
@charset "UTF-8";
/***********************************
 * reset default value for element *
 **********************************/
html{color:#000;background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td { margin:0px;padding:0px;}
/*table { border-collapse:collapse;border-spacing:0px;}*/
fieldset,img { border:0px; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:bold;}
h1{font-size:18px;}h2{font-size:16px;}h3{font-size:14px;}
q:before,q:after{content:'';}
abbr,acronym {border:0;font-variant:normal;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
input,textarea,select{font-family:'lucida grande',tahoma,arial,'bitstream vera sans',helvetica,sans-serif;font-size:inherit;font-weight:inherit;}
pre,code,kbd,samp,tt{font-family:monaco,'courier new','bitstream vera sans mono',monospace;}
legend{color:#000;}
/**
 * Percents could work for IE, but for backCompat purposes, we are using keywords.
 * x-small is for IE6/7 quirks mode.
 */
body{background:#fff;color:#000;font:12px/1.5 'lucida grande',tahoma,arial,'bitstream vera sans',helvetica,sans-serif;}
table {font-size:inherit;font:100%;}
/**
 * Bump up IE to get to 13px equivalent
 */
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
/***********************
 *  use for clear element float
 ***********************/
/* slightly enhanced, universal clearfix hack */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/*
-------------------------
-- Flash Notice
-------------------------
*/

.flash_notice, .flash_error, .flash_warning,
.flash_success, .flash_explanation {
  border: 1px solid #ebdfb0;
  background-color: #fff4c8;
  padding:5px;
  color: #000;text-align: center;
}
.flash_error {
  border: 1px solid #ebb0b0;
  background-color: #ffc8c8;
}
.flash_notice, .flash_success {
  border: 1px solid #b0ebb0;
  background-color: #c8ffcb;
}
.flash_notice a, .flash_error a, .flash_warning a {
  color: #01a163;
  border: none !important;
}
.errorExplanation h2 {
  margin: 0;color: #c00;
}
.errorExplanation li {
  margin-left: 3.0em;font-weight: bolder;
  list-style: decimal;color: #c00;
}
.fieldWithErrors input {
  background-color: #faa;
  border: 1px solid #f00;
}

/*
-------------------------
-- Pagination
-------------------------
*/

.pagination {
  padding: 3px !important;margin: 3px !important;
}
.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;color: #3B5998;
  border: 1px solid #3B5998;
  text-decoration: none;
  background-color: transparent;
}
.pagination a:hover, .pagination a:active {
  border: 1px solid #3B5998;
  background-color: #3B5998;
  color: #FFF;font-weight: bold;
}
.pagination span.current {
  padding: 2px 5px 2px 5px;color: #FFF;
  margin: 2px;font-weight: bold;
  border: 1px solid #3B5998;
  background-color: #3B5998;
}
.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;color: #ddd;
  border: 1px solid #eee;
}




/*
-------------------------
-- Page Structure
-------------------------
*/
.wrapper {
  width:885px;
  margin:0px auto;
  text-align:left;
}
#hd {
  font-family: "微软雅黑";
	font-size:12px;
	background: #FFF url(/images/navs/hdbg.png) 0px 0px repeat-x;
}
#top {
  padding-top:6px;
}
#top a {
  color:#fff;
}
#top .logo {
  float:left;
  margin-left:30px;
}
#top .help {
  float:right;
}
#top .help li {
  float:left;
  font-size:14px;
  font-weight:bold;
  margin-right:8px;
  padding-top:5px;
}
#top .help li a {
  text-decoration: underline;
}
#navs {
  padding-left:40px;
}
#navs li {
  float:left;
  margin-right:20px;
}
#my {

}
#my a {
  text-decoration: underline;
}
#my .status {
  float:left;
  margin-left:20px;
}
#my .links {
  float:right;
  margin-right:20px;
}
#my .status li, #my .links li {
  float:left;
  margin-right:8px;
}
#my .links li.cart a {
   display: block; 
}
#my .links li.cart a:hover{
  background: url(/images/cart_over.gif) no-repeat 0 0;
}
#my .links li.cart a:hover img{
  visibility: hidden;
}
 
/**/
#flash_content {
   margin:10px 0px;
}

#ft {
	font-size:12px;
	line-height:1.4;
	padding: 30px 0px;
}
#ft a {
	text-decoration: underline;
}
#ft ul {
	border-top: 1px solid #666;
	padding: 8px 0 0 100px;
	margin:auto;
}
#ft ul li {
	font-size: 12px;
	background: url(/images/footmark.gif) no-repeat 0 50%;
	float: left;
	padding: 0 20px;
}
#ft ul li.footliStart {
	background: none;
	padding-left: 0;
}

#rsidebar {}
#tsidebar {
  width:155px;
  float:left;
}

.side-left-margin {
/*  float:left;*/
  margin-left:20px;
}
.side-right-margin {
/*  float:right;*/
  margin-right:20px;
}

.side_search {
  border-bottom: 25px solid #FFF;
  border: 1px solid #CCC;
}

.fast_search {
  background: #F3F3F3;
}

.fast_search input {
	color: #999;
	float: left;
	border: 1px solid #CCC;
	padding: 2px 0 0 3px;
	width: 97px;
	height: 16px;
}


.imglinks { width:155px; float:left;}
.imglinks li { padding: 0 0 15px 0;}
.imglinks li img { vertical-align: bottom; margin: 0 0 5px 0;}
.imglinks li a img { border: 1px solid #CCC; }
.imglinks li a:hover img,.imglinks li a:active img { border: 1px solid #7F0019; }


/* */
body {
	font-family: "宋体",Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	color: #333;
	background: #FFF;
	text-align: center; /* winIE */
	padding: 0 0 20px 0;
}





/* tab style for ul */
ul.tabs{overflow:hidden; zoom:1; position:relative; top:1px;}
ul.tabs li{ 
  display:inline; float:left; margin:2px 7px 0 0; font-size:12px; 
  border:1px #e4e4e4 solid; background:#e4e4e4; 
  border-bottom:none; *padding-top:1px;
}
ul.tabs li a{ float:left; color:#727272; padding:4px 6px 2px 6px; background:#e4e4e4;}
ul.tabs li.current{ border-top:2px solid #CCC; margin-top:0; padding-top:2px; background:#fff;}
ul.tabs li.current a, ul.tabs li.current a:hover{ 
  color:#000; background:#fff; font-weight:bold; 
  cursor:default; text-decoration:none;
}
ul.tabs li a:hover{ background:#c9c9c9;  color:#000;}
ul.tabs li.for_compose{float:right;}
div.tabs-container{  padding:10px;border-top:1px solid #DDDDDD; }


a {	text-decoration: none;}
a:link, a:visited { color:#333; }
a:active, a:hover { color:#7F0019; }
