/* layout container define of the bbg */

/*
-------------------------
-- Page Structure
-------------------------
*/
#header {
	min-width: 885px;
	height: 104px;
	padding-left: 20px;
	padding-right: 20px;
}
.wrapper {
	width: 885px;
	margin: auto;
	position: relative;
}

.no-margin {
	margin: 0;
}
.clear { clear: both; }
.hide-text {
	text-indent: -9999px;
}

#logo-wrap {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 35px;
	width: 100%;
}

#logo {
	position: absolute;
	top: 7px;
	left: 32px;
	display: block;
	width: 67px;
	height: 21px;
	background: url(/images/logo.png) no-repeat;
}

#nav-help {
	float: right;
	font-family: Hei;
	font-size: 12px;
	color: #fff;
	text-decoration: underline;
	margin-top: 12px;
}

#nav-help:hover {
	text-decoration: none;
}

#navigation {
	height: 29px;
	position: absolute;
	top: 38px;
	left: 0px;
	width: 100%;
}

#navigation ul {
	list-style-type: none;
}

#navigation li {
	display: inline;
}

#navigation a {
	display: block;
	float: left;
	text-align: center;
	width: 93px;
	height: 28px;
	background: url(/images/nav_bg.jpg) no-repeat;
	text-indent: -9999em;
	margin-left: 4px;
	margin-right: 4px;
}

li#nav-home a { background-position: 0 0; }
li#nav-home a:hover { background-position: 0 -28px; }
li#nav-home.active a { background-position: 0 -56px; }
li#nav-catalog a { background-position: -93px 0; }
li#nav-catalog a:hover { background-position: -93px -28px; }
li#nav-catalog.active a { background-position: -93px -56px; }
li#nav-wiki a { background-position: -186px 0; }
li#nav-wiki a:hover { background-position: -186px -28px; }
li#nav-wiki.active a { background-position: -186px -56px; }
li#nav-shop a { background-position: -279px 0; }
li#nav-shop a:hover { background-position: -279px -28px; }
li#nav-shop.active a { background-position: -279px -56px; }
li#nav-forum a { background-position: -372px 0; }
li#nav-forum a:hover { background-position: -372px -28px; }
li#nav-forum.active a { background-position: -372px -56px; }
li#nav-bid a { background-position: -465px 0; }
li#nav-bid a:hover { background-position: -465px -28px; }
li#nav-bid.active a { background-position: -465px -56px; }

#my {
	height: 35px;
	position: absolute;
	top: 66px;
	left: 0px;
	width: 100%;
	margin-top: 12px;
}

#login-wrap {
	position: absolute;
	top: 0;
	left: 0;
}

#login-wrap ul {
	list-style-type: none;
}

#login-wrap li {
	display: inline;
	float: left;
	color: #333333;
	font-size: 11px;
}

#login-wrap a {
	display: block;
	float: left;
	text-align: center;
	color: #333333;
	font-size: 11px;
	text-decoration: none
}

#login-wrap a:hover {
	text-decoration: underline;
	color: #7F0019;
}

#login-wrap .username {
	font-size: 12px;
}

#login-wrap .username a {
	font-size: 12px;
	display: inline;
	float: none;
	margin-left: 5px;
	margin-right: 5px;
}

#my .punctuation {
	font-size: 11px;
	margin-left: 5px;
	margin-right: 5px;
}

#nav-login a {
	background: url(/images/login_bg.png) no-repeat;
	width: 42px;
	height: 13px;
	text-indent: -9999em;
	margin-right: 10px;
	overflow: hidden;
}

#nav-login a:hover {
	background-position: 0 -13px;
}

#my-links-wrap {
	position: absolute;
	top: 0;
	right: 0;
}

#my-links-wrap ul {
	list-style-type: none;
}

#my-links-wrap li {
	display: inline;
	float: left;
	color: #333333;
}

#my-links-wrap a {
	display: block;
	float: left;
	text-align: center;
	color: #333333;
	font-size: 11px;
	text-decoration: none
}

#my-links-wrap a:hover {
	text-decoration: underline;
	color: #7F0019;
}

#nav-cart a {
	background: url(/images/cart.png) no-repeat;
	width: 109px;
	height: 19px;
	text-indent: -9999em;
	margin-left: 10px;
	margin-top: -4px;
	overflow: hidden;
}

#nav-cart a:hover {
	background-position: 0 -19px;
}

#ft {
	font-size:12px;
	line-height:1.4;
	padding: 10px 0px;
	margin-bottom:40px;
}
#ft a {
	text-decoration: underline;
}
#ft ul {
	border-top: 1px solid #666;
	padding: 8px 0 0 100px;
	margin:auto;
}
#ft ul li {
	font-size: 12px;
	background: url(/images/footmark.jpg) no-repeat 0 50%;
	float: left;
	padding: 0 20px;
}
#ft ul li.start {
	background: none;
	padding-left: 0;
}

#guide {
  border-top:1px solid #666;
  margin-top:40px;
  margin-bottom:20px;
  padding:15px 0px;
  background-color:#f4f1e9;
}
#guide .col {
  float:left;
  margin:0px 20px;
}
#guide .col h3 img{
  margin-right:5px;
}
#guide .col ul{
  margin:0px 10px;
}
#guide .col ul li{
  float:left;
  margin:3px 10px 3px 5px;
}
#guide .col ul li a {
  text-decoration:underline;
}

#container {
  margin-top:10px;
}
#content {
  width:540px;
}
#my-content {
  width:500px;
}
#my-sidebar {
  width:190px;
}
#main {
  width:710px;
}
#rich-sidebar {
  width:320px;
}
#mid-sidebar {
  width:200px;
}
#mid-content {
  width:660px;
}
#thin-sidebar {
  width:150px;
}
