%ul
  %li= link_to '文章管理', admin_contents_path
  %li= link_to '分类管理', admin_content_categories_path
  %li= link_to '附件管理', admin_attacheds_path, :class => 'active'
  %li= link_to '评论管理', '#', :class => 'last'