#login-wrap
  %ul
    %li{:id =>'nav-login'}= link_to '登录', login_url
    %li.punctuation (
    %li{:id =>'nav-signup'}= link_to '注册', signup_url
    %li.punctuation= '|'
    %li{:id =>'nav-forgot-password'}= link_to '忘记密码?', forgot_pwd_url
    %li.punctuation )


#my-links-wrap

/ %ul.clearfix
/   - if !current_user
/     %li= link_to t("g.signup"), signup_url
/     %li= link_to t("g.signin"), login_url
/   - else
/     %li
/       = t("account.welcome")
/       - content_tag(:span, :class=> gender_color(current_user.sex)) do
/         = current_user.name
/     %li= '|'
/     %li= link_to t("account.setting"), account_url
/     %li= link_to t("g.logout"), logout_url
