/ [if lt IE 7]
  :javascript
    DD_roundies.addRule('.category_1 a', '3px');
    DD_roundies.addRule('.category_2 a', '3px');
    DD_roundies.addRule('.category_3 a', '3px');
    DD_roundies.addRule('.category_4 a', '3px');