%ul
  %li= link_to t('admin.caption.resource_admin', :resource => Wine.human_name), admin_wines_path
  %li= link_to t('admin.caption.resource_admin', :resource => Grape.human_name), admin_grapes_path, :class => 'active'
  %li= link_to t('admin.caption.resource_admin', :resource => Winery.human_name), admin_wineries_path, :class => 'last'
