
  
#board
  #panel
    .caption
      %h1
        = t('admin.caption.winery_add')
        / %span= link_to t('admin.return.winery_list'), admin_wineries_path
    .body
      - form_for @winery, :url => admin_wineries_path do |f|
        = render :partial => "form", :locals => {:f => f}
        .submit
          = f.submit "发布当前酒庄信息"
  #panel_bot

#acts
  %ul
    %li= link_to t('admin.return.winery_list'), admin_wineries_path