%ul
  %li= link_to t('admin.caption.wines'), admin_wines_path, :class => 'active'
  %li= link_to t('admin.caption.grapes'), admin_grapes_path
  %li= link_to t('admin.caption.wineries'), admin_wineries_path
  %li= link_to t('admin.caption.comments'), '#', :class => 'last'