#columns
  #main
    .caption
      %h1 
        = t('admin.caption.wine_add')
        %span
          %a{:href => admin_wines_path}= t('admin.return.wine_list')
    .body
      d
      d
      d
      d
      d
      d
  #main_bot